@charset "UTF-8";

/*configuração basica do css historico de atualizações.*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #C7F3FD;
    --cor2: #6ECBE0;
    --cor3: #237F94;
    --cor4: #E0A46E;
    --cor5: #945C2B;
    --cor6: #fff;
    --cor7: #000;
    
    --font-padrao: Arial, Verdana, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    
}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor6);
}
/*fim da configuração basica*/
header {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    box-shadow: 2px 2px 3px var(--cor8);
}
header h1 {
    padding-bottom: 10px;
    padding: 10px ;
}
header h2 {
    padding-left: 10PX;
}

nav {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor1);
}
nav a {
    display: none;
    margin: 10px;
    text-decoration: none;
}
nav a:active {
    color: var(--cor2);
}
nav a:hover {
    text-decoration: underline;
}
nav a:visited
{
    color: rgb(132, 0, 255);
}
nav:hover a {
    display: block;
}
nav p {
    padding: 20px;
}

aside {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor6);
}
main {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor6);
}