@charset "UTF-8";

/*configuração basica do css*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #C7F3FD;
    --cor2: #6ECBE0;
    --cor3: #237F94;
    --cor4: #e0a36ebb;
    --cor5: #945C2B;
    --cor6: #fff;
    --cor7: #000;
    --cor8: rgba(0, 0, 0, 0.308);
    
    --font-padrao: Arial, Verdana, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    
}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor6);
}
/*fim da configuração basica*/
header {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    box-shadow: 2px 2px 3px var(--cor8);
}
header h1 {
    text-indent: 10px;
    text-align: center;
    font-family: 'Bebas neue', sans-serif;
    font-weight: normal;
}
#aviso {
    text-align: left;
    
}
header p {
    text-indent: 10px;
    line-height: 2em;
    text-indent: 20px;
}
header h2 {
    text-indent: 10px;
    font-family: 'Bebas neue', sans-serif;
    font-weight: normal;
}
nav#menuprincipal ul, ol {
    list-style-position: inside;
   }
   nav#menuprincipal {
       max-width: 1200px;
       margin: auto;
       background-color: var(--cor1);
       box-shadow:2px 2px 3px var(--cor8);
       padding: 6px 0px;
       text-indent: 10px;
   }
   
   nav#menuprincipal > a {
       display: none;
       text-decoration: none;
       
   
   }
   nav#menuprincipal > a:hover {
       text-decoration: underline;
       
   }
   nav#menuprincipal > a:active {
       color: #000;
       
   }
   nav#menuprincipal:hover a {
       display: block;
       margin: 10px;
       
       
       
   
   }
   
   nav#menuprincipal > small {
       display: none;
       
   
   }
   nav#menuprincipal:hover small {
       display: block;
   
   }
   nav#menuprincipal > p::after {
    content: '\00a0\00a0\ [passe o mouse aqui]';
    color: rgba(0, 0, 0, 0.454);
    
   }
   nav#menuprincipal > p {
       font-weight: bold;
   }

main {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor6);
    
}
main ul, ol {
    list-style-position: inside;
}
main h1 {
    text-indent: 10px;
    
}
main h2, h3 {
    padding-left: 10px;
    margin: 10px;
}
.codigo {
    background-color: var(--cor4);
    margin: 10px;
    padding: 10px;
    width: 600px;
   border-radius: 5px;
   box-shadow: 3px 3px 5px var(--cor8)
   
}
mark {
    background-color: var(--cor4);
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--cor8)
    
}
.mark1 {
    margin: 50px 0px 50px 0px;
    
}
main p {
    margin: 10px;
    text-align: justify;
    line-height: 2em;
    text-indent: 20px;
    
}
aside {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor6);
    line-height: 2em;
    text-indent: 20px;
}

footer {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor6);
    
}
footer p {
    text-indent: 10px;
    line-height: 2em;
    text-indent: 20px;
}
main a {
    text-decoration: none;
    color: blue;
    text-indent: px;
    
}
main a::after
{
    content: '\1F517';
}
main a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.623)
}

footer a {
    text-decoration: none;
    color: blue;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.623);
    
}

.textcode {
   background-image: linear-gradient(to right, var(--cor1), transparent);
   padding: 5px;
   border-radius: 5px;
}

dl {
    text-indent: 10px;
    padding: 10px;
}
blockquote {
    text-indent: 10px;
    
}
.arrumarlink {
    text-indent: 10px;
}
.noafter::after {
    content: none;
    
}

iframe {
    margin: 10px;
}